In [116]:
import numpy as np
import pandas as pd 
df=pd.read_csv('dataset_2.csv')
df.head(10)

      Name  Trips Completed Accept Rate  Supply Hours  Rating
0    Abdul                1        100%             3     4.8
1  Abraham               12         83%             5     4.7
2  Adelina                1        100%             2     4.7
3   Akilah                1        100%             2     4.9
4     Alec               21         76%            11     5.0
5   Alesha                7        100%             4     4.8
6   Alvaro               17         88%            11     4.6
7    Andra               16         94%            11     4.6
8  Augusta               19         84%            11     4.7
9   Aurora               10         90%             4     4.6

In [ ]:
df.info()

In [67]:
df['Accept Rate'] = df['Accept Rate'].str.replace('%', '').astype(float)

In [69]:
coditions=df[(df['Supply Hours'] >= 8) & (df['Trips Completed'] >= 10) & (df['Rating'] >= 4.7) &  (df['Accept Rate'] >= 90)]
coditions

          Name  Trips Completed  Accept Rate  Supply Hours  Rating
11       Byron               15        100.0            10     4.9
12     Carlota               14        100.0             8     5.0
19    Dannette               14        100.0             9     4.9
23   Demetrius               14        100.0             9     5.0
26      Dimple               15        100.0            10     4.9
32        Emil               12        100.0             9     5.0
37       Garth               15        100.0            10     5.0
40        Hanh               14         94.0             9     4.9
53      Keshia               20        100.0            11     4.8
57     Latonia               13        100.0             9     5.0
68      Luanne               12         96.0            11     4.9
69     Lyndsey               13         94.0            11     4.9
70     Lynwood               21         95.0            10     5.0
75         Man               23        100.0            10     5.0
76      Marica               16         90.0            10     5.0
84     Natalie               16         94.0             8     4.9
88        Oren               11         91.0             9     4.8
92     Phyllis               10         90.0             8     4.8
95    Salvador               15        100.0            11     4.8
98     Shandra               14        100.0             8     4.9
113     Vashti               12         92.0            11     4.9

In [46]:
#How much would the total bonus payout be with Option 1?
totallength=len(conditions)
finalpayout='$'+str(50*totallength)

In [65]:
#How much would the total bonus payout be with option 2?

option_2=df[(df['Trips Completed'] >= 12) & (df['Rating'] >= 4.7)]
total_trips=option_2['Trips Completed'].sum()
totalbonuspayout=total_trips*4
indollar='$'+str(totalbonuspayout)
indollar

'$2976'

In [81]:
#How many drivers would qualify for a bonus under Option 1 but not under Option 2?
condition3=df[(df['Supply Hours'] >= 8) & (df['Trips Completed'] <12) & (df['Rating'] >= 4.7) &  (df['Accept Rate'] >= 90)]
total_name=len(condition3)
total_name

2

In [87]:
#What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?
condition4=df[(df['Trips Completed'] <10) & (df['Rating'] >= 4.7) &  (df['Accept Rate'] <90)]
totallength1=len(condition4)
totallength1

13

In [92]:
totalcount=len(df)
finalpercentage=totallength1/totalcount*100
final1=str(finalpercentage)+'%'
final1

'10.92436974789916%'

In [94]:
#How much money (after expenses) does the taxi driver make per year without partnering with Uber?
totalearning=1200*49

58800

In [95]:
totalexpenditure=(49*200)+(12*400)+(49*500)
totalexpenditure

39100

In [102]:
totalsaving=totalearning-totalexpenditure
totalsaving

19700

In [115]:
profit_margin=totalsaving/totalearning*100
number=round(profit_margin,2)
Percentage_benefit=str(number)+"%"
Percentage_benefit

'33.5%'

In [142]:
"""
You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, 
how much would the driver's gross fares need to 
increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?
"""
gas_expense=49*200
increasedgasexpense=gas_expense*105/100
increasedgasexpense

10290.0

In [125]:
insurance_expense=400*12
decreased_insurance_expense=insurance_expense*80/100
decreased_insurance_expense

3840.0

In [123]:
totalearning1=1200*49
totalearning1

58800

In [129]:
total_expense_g_c_i=increasedgasexpense+decreased_insurance_expense+40000
total_expense_g_c_i

54130.0

In [143]:
fare_to_be_increased=(totalearning1-total_expense_g_c_i-totalsaving)/49
fare_to_be_increased

-306.734693877551

In [141]:
fare_in_positive_number="$"+str(round(abs(fare_to_be_increased),1))
fare_in_positive_number

'$306.7'